
.add{
    // width: 2em;
    font-size: 2em;
}
.addon{
    margin-top: 7%;
}
.item-inner{
border-bottom: 0px !important;
}
ion-label{
    margin-bottom: 0%;
}
.list{
    padding-bottom: 0%;
}
[text-wrap].sc-ion-label-md-h {
    line-height: 1.2;
}